@using UI.Web.Areas.Admin.Models

@model CurrentUser

<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <div class="icon fa fa-paper-plane"></div>
                    <div class="title">WebApp.Admin</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="@Url.Action("Index","Home",new { Areas = "Admin" })">
                        <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-article">
                        <span class="icon fa fa-book"></span><span class="title">ArticleManagement</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-article" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">ArticleList</a>
                                </li>
                                <li>
                                    <a href="#">ArticleAdd</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-category">
                        <span class="icon fa fa-bookmark"></span><span class="title">CategoryManagement</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-category" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">CategoryList</a>
                                </li>
                                <li>
                                    <a href="#">CategoryAdd</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-comment">
                        <span class="icon fa fa-comments"></span><span class="title">CommentManagement</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-comment" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">CommentList</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-message">
                        <span class="icon fa fa-pencil"></span><span class="title">MessageManagement</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-message" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">MessageList</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-album">
                        <span class="icon fa fa-photo"></span><span class="title">AlbumManagement</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-album" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">AlbumList</a>
                                </li>
                                <li>
                                    <a href="#">AlbumAdd</a>
                                </li>
                                <li>
                                    <a href="#">PhotoList</a>
                                </li>
                                <li>
                                    <a href="#">UploadPhoto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-account">
                        <span class="icon fa fa-users"></span><span class="title">UserManagement</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-account" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">UpdatePassword</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                @if (CurrentUser.Role == "Administrators")
                {
                    <li class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-account">
                            <span class="icon fa fa-users"></span><span class="title">AccountManagement</span>
                        </a>
                        <!-- Dropdown level 1 -->
                        <div id="dropdown-account" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="#">AccountList</a>
                                    </li>
                                    <li>
                                        <a href="#">AccountAdd</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-role">
                            <span class="icon fa fa-user-secret"></span><span class="title">RoleManagement</span>
                        </a>
                        <!-- Dropdown level 1 -->
                        <div id="dropdown-role" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="#">RoleList</a>
                                    </li>
                                    <li>
                                        <a href="#">RoleAdd</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-system">
                            <span class="icon fa fa-gears"></span><span class="title">SystemManagement</span>
                        </a>
                        <!-- Dropdown level 1 -->
                        <div id="dropdown-system" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>